

#open-source {
    margin: 15px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 10px;
    background: linear-gradient(to top right, rgba(255,152,27,0.17), rgba(142,88,219,0.17));
}
#open-source .h6 {
    font-size: 28px;
    font-weight: 500;
    display: flex;
}
#open-source .h1 {
    font-size: 100px;
    font-weight: 700;
}

#gradient {
    background: linear-gradient(to right, #F28FD2, #F45D01, #E25377, #EEB902, #62B4FF, #62B4FF);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}