@import url('../../Fonts/Fonts.css');

#quick-tutorial {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 
        /* 90px at 1050 width to 20px at 450 width */
        /* 120px at 1440 width to 20px at 480 width */
        clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px) 
        1fr
        clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px)
    ;
    grid-template-rows: 
        clamp(56px ,calc(56px + (80 - 56) * (100vw - 480px) / (1440 - 480)), 80px) 
        auto
        clamp(65px ,calc(65px + (95 - 65) * (100vw - 480px) / (1440 - 480)), 95px) 
        auto 
        40px
        max-content 
        auto
    ;
    grid-template-areas: 
        ". . ."
        ". header ."
        ". . ."
        ". subheader ."
        ". . ."
        "cards cards cards"
        ". . ."
    ;
    justify-items: center;
    align-items: flex-start;
    /* row-gap: 40px; */
}

#quick-tutorial-header {
    grid-area: header;
    font-family: "SF Pro Display";
    font-size: clamp(40px ,calc(40px + (80 - 40) * (100vw - 480px) / (1240 - 480)), 80px);
    font-weight: 600;
    width: clamp(0px, 100%, 1120px);
    -webkit-font-smoothing: antialiased;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

#quick-tutorial-header-description {
    grid-area: header;
    font-family: "SF Pro Display";
    font-size: clamp(19px ,calc(19px + (21 - 19) * (100vw - 480px) / (1440 - 480)), 21px);
    max-width: 370px;
}

@media(max-width: 875px) {
    #quick-tutorial-header { 
        flex-direction: column;
    }
    #quick-tutorial-header-description { 
        max-width: initial;
    }
}

#quick-tutorial-subheader {
    font-family: "SF Pro Display";
    font-size: clamp(28px ,calc(28px + (48 - 28) * (100vw - 480px) / (1440 - 480)), 48px);
    font-weight: 600;
    color: rgb(134, 134, 139);
    grid-area: subheader;
    width: clamp(0px, 100%, 1120px);
    -webkit-font-smoothing: antialiased;
}

#quick-tutorial-cards-container {
    grid-area: cards;
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 20px;
    padding-left: 100px;
    overflow-x: scroll;
    box-sizing: border-box;
    padding-bottom: 60px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#quick-tutorial-cards-container::-webkit-scrollbar {
    display: none;
}

.quick-tutorial-card {
    box-sizing: border-box;
    min-width: clamp(280px, calc(280px + (1200 - 280) * (100vw - 430px) / (1440 - 430)), 1200px) ;
    min-height: clamp(522px, calc(522px + (600 - 522) * (100vw - 480px) / (1440 - 480)), 600px);
    border-radius: 28px;
    padding: clamp(20px, calc(20px + (25 - 20) * (100vw - 480px) / (1440 - 480)), 25px);
    display: grid;
    grid-template-columns: 
    clamp(58px ,calc(58px + (74 - 58) * (100vw - 480px) / (1440 - 480)), 74px)
        auto
    ;
    grid-template-areas:
        "photo header"
        "description description"
    ;
    grid-template-rows: 
    clamp(58px ,calc(58px + (74 - 58) * (100vw - 480px) / (1440 - 480)), 74px)
        auto
    ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    scroll-snap-align: center;
    /* align-items: center; */
}


.quick-tutorial-card-header {
    grid-area: header;
    align-self: center;
    font-family: "SF Pro Display";
    font-size: clamp(21px, calc(21px + (28 - 21) * (100vw - 480px) / (1440 - 480)), 28px);
    font-weight: 600;
}

.quick-tutorial-card-description {
    grid-area: description;
    font-family: "SF Pro Display";
    font-size: clamp(14px, calc(14px + (17 - 14) * (100vw - 480px) / (1440 - 480)), 17px);
    font-weight: 400;
    line-height: clamp(18px, calc(18px + (21 - 18) * (100vw - 480px) / (1440 - 480)), 21px);
    text-size-adjust: 100%; /* Ensures text size is consistent across devices */
    unicode-bidi: isolate; /* Isolates the text's directionality from its surroundings */
    -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit browsers */
    font-synthesis-small-caps: none; /* Prevents the browser from synthesizing small caps */
    font-synthesis-style: none; /* Prevents the browser from synthesizing font styles (italic) */
    font-synthesis-weight: none; /* Prevents the browser from synthesizing font weights */
}
