@import url('../../Fonts/Fonts.css');


#features {
}


#features-header {
    font-family: "SF Pro Display";
    font-size: clamp(28px ,calc(28px + (48 - 28) * (100vw - 480px) / (1440 - 480)), 48px);
    font-weight: 600;
    color: rgb(134, 134, 139);
    grid-area: header;
    width: clamp(0px, 100%, 1120px);
    margin: 40px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

#features-cards-container {
    /* height: 100%; */
    width: 100%;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 20px;
    padding-left: 100px;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#features-cards-container::-webkit-scrollbar {
    display: none;
}

.feature-card {
    width: clamp(280px, calc(280px + (400 - 280) * (100vw - 480px) / (1440 - 480)), 400px) !important;
    height: clamp(522px, calc(522px + (740 - 522) * (100vw - 480px) / (1440 - 480)), 740px) !important;
    border-radius: 28px;
    padding: clamp(20px, calc(20px + (25 - 20) * (100vw - 480px) / (1440 - 480)), 25px);
    box-sizing: border-box;
    
    scroll-snap-align: center;
}
