

#contact {
    /* height: 1000px; */
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 40px;
    padding-left: clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
    padding-right: clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
}

#contact-container {
    grid-area: main;
    display: flex;
    align-content: center;
    justify-content: center;
    width: clamp(0px, 100%, 1000px);
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 16px;
    overflow: hidden;
}

.contact-section {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    padding: clamp(24px ,calc(24px + (48 - 24) * (100vw - 480px) / (950 - 480)), 48px);
}

#contact-section-1 {
    border-right: solid 1px rgba(0, 0, 0, .1);
}

.contact-section-header {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 24px;
}

.contact-section-subheader {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 16px;
}

.contact-section-text {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: rgb(102, 102, 102);
}

#contact-email {
    padding: 0px 12px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, .1);
    height: 40px;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 400;
    color: rgb(143, 143, 143);
}

#contact-textarea {
    padding: 10px 12px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, .1);
    min-height: clamp(200px ,calc(200px + (300 - 200) * (100vw - 480px) / (950 - 480)), 300px);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 400;
    color: rgb(143, 143, 143);
    resize: none;
}

#contact-textarea::placeholder {

}

#contact-submit {
    all: unset;
    height: 32px;
    padding: 0px 12px;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    /* border: solid 1px rgb(235, 235, 235); */
    background-color: black;
    color: white;
    cursor: pointer;

    transition: all 150ms;

    /* color: rgb(143, 143, 143); */
}

#contact-submit:active {
    opacity: 0.75;
}

#contact-submit[data-submitting] {
    cursor: not-allowed;
    pointer-events: none;
}




@media (max-width: 950px) {
    #contact-container {
        flex-direction: column;
    }

    .contact-section {
        width: 100%;
    }

    #contact-section-1 {
        border-right: none;
        border-bottom: solid 1px rgba(0, 0, 0, .1);
    }
}