@import url('../../Fonts/Fonts.css');


#features {
    margin-top: 100px;
}


#features-header {
    grid-area: header;
    /* font-size: 36px; */
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0px auto;
    padding: 0px 20px;
    width: clamp(0px, 100%, 1120px);
    box-sizing: border-box;
    /* border: solid red 1px; */
    text-align: center;
}


#features-selector {
    display: flex;
    /* border: solid red 1px; */
    width: clamp(0px, 100%, 1080px);
    margin: 0px auto;
    margin-top: 40px;
    gap: 5px;

    justify-content: center;
}

    .feature-selector-card {
        /* border: solid red 1px; */
        border-radius: 9999px;
        height: 40px;
        padding: 0px 22px;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        transition: all 250ms;
    }

    .feature-selector-card:hover {
        background: rgb(51, 51, 51);
    }

    .feature-selector-card[selected] {
        background-color: white;
        color: black;
    }

#features-cards-container {
    /* height: 100%; */
    display: inline-grid;
    grid-auto-flow: column;
    width: 100%;
    gap: 20px;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-top: 40px; 
    padding-bottom: 40px; 
}

#features-cards-container::-webkit-scrollbar {
    display: none;
}

.feature-card {
    /* border: solid 1px rgb(108, 108, 108); */
    cursor: pointer;
    position: relative;
    height: 470px;
    width: 354px;
    padding: 32px 28px;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "header button";
    align-items: end;

    transition: all 450ms;
    
    scroll-snap-align: center;
    /* mask-clip: content-box; */
    /* overflow: hidden; */

}

.feature-card:hover {
    transform: scale(1.03);
}

 

.feature-card-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* opacity: 0.5; */
    /* filter: grayscale(30%); */
    border-radius: 3.5px;
    /* background-size: cover; */

    transition: all 250ms;
}

.feature-card-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('noise.jpg');
    background-size: cover;
    border-radius: 3.5px;
    opacity: 0.2; /* Adjust opacity for the intensity of the grain */
    pointer-events: none; /* Ensure the overlay doesn't block interactions */
}

    .feature-card:hover .feature-card-image {
        filter: grayscale(0%);
    }

.feature-card-image-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    border-radius: 4.5px;
    filter: blur(0px);
    opacity: 0.75;

    transition: all 250ms;
}

    .feature-card:hover .feature-card-image-blur {
        filter: blur(20px);
    }



.feature-card-header {
    grid-area: header;
    font-size: 21px;
    font-weight: 600;
}
.feature-card-button {
    grid-area: button;
    border-radius: 9999px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(177, 177, 177);
    /* background-color: rgba(255, 255, 255, 0); */
    background-color: #1414145f;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    transition: all 350ms;
}

    .feature-card-button:hover {
        background-color: rgba(255, 255, 255, 0.173);
        border: solid 1px rgb(255, 255, 255);
    }


    .feature-card-button > div {
        border-radius: 9999px;
        height: 1.5px;
        width: 12px;
        background-color: rgb(225, 225, 225);
        position: absolute;

        transition: all 350ms;
    }
        .feature-card-button:hover div  {
            background-color: rgb(255, 255, 255);
        }

    .feature-card-button > div:nth-child(2) {
        transform: rotate(90deg);
    }
