/* Hero - Start */
#home-hero {
    /* border: solid red 1px; */
    height: 100svh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    margin-left: auto;
    margin-right: auto;




    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-bottom: 75px; */
    position: relative;
    perspective: 600px;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

#home-hero-info {
    border: dashed rgb(31, 31, 31) 1px;
    position: relative;
    width: clamp(0px, 100%, 1080px);
    padding: 88px 20px;
    margin-bottom: 40px;
    /* top: -100px; */
    /* top: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    box-sizing: border-box;

}


@keyframes intro {
    from {
        transform: translateZ(700px) rotate(-95deg);
    }
    to {
        transform: translateZ(0px);
    }
}

@keyframes height {
    from {
        height: 150px;
        width: 150px;
    }
    to {
        height: auto;
        width: 1080px;
    }
}

@keyframes blurStart {
    from {
        filter: blur(20px);
    }
    to {
        filter: blur(0px);
    }
}

#hero-badge {
    /* border: solid rgb(0, 153, 255) 1px; */
    white-space: nowrap;
    border-radius: 9999px;
    width: fit-content;
    padding: 4px 12px;
    font-size: 13.2px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgba(0, 153, 255, 0.196);
    color: rgb(0, 153, 255);
    /* filter: blur(20px); */
    /* animation: blurStart 1.5s cubic-bezier(0.27, 0.13, 0.17, 1) forwards; */
    /* animation-delay: 200ms; */
}

#hero-header {
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    white-space: nowrap;
    /* filter: blur(20px); */
    /* animation: blurStart 1.5s cubic-bezier(0.27, 0.13, 0.17, 1) forwards; */
    animation-delay: 200ms;
}

#hero-subheader {
    white-space: nowrap;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 36px;
    max-width: 640px;
    text-align: center;
    /* filter: blur(20px); */
    /* animation: blurStart 1.5s cubic-bezier(0.27, 0.13, 0.17, 1) forwards; */
    animation-delay: 400ms;

}

#hero-download {
    all: unset;
    border-radius: 9999px;
    font-size: 15.2px;
    font-weight: 600;
    letter-spacing: 0.024px;
    padding: 0 24px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* filter: blur(20px); */
    /* animation: blurStart 1.5s cubic-bezier(0.27, 0.13, 0.17, 1) forwards; */
    animation-delay: 600ms;
}


#hero-learn-more {
    font-size: 13.2px;
    position: absolute;
    bottom: 100px;
    color: rgba(255, 255, 255, 0.473);
}

#learn-more-arrow {
    position: absolute;
    bottom: 70px;
    stroke: rgba(255, 255, 255, 0.473);
    stroke-width: 1.5px;
}






.cross {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
}

#cross-1 {
    top: -11px;
    left: -11px;
}

#cross-2 {
    bottom: -11px;
    right: -11px;
}

.cross > div {
    height: 1.5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(135, 135, 135);
    position: absolute;
}

.cross > div:nth-child(2) {
    transform: rotate(90deg);
}







#squares-top-container {
    height: 88px;
    border: solid rgb(31, 31, 31) 1px;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -90px;
    display: flex;
    justify-content: space-evenly;
}
#squares-bottom-container {
    height: 88px;
    border: solid rgb(31, 31, 31) 1px;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -90px;
    display: flex;
    justify-content: space-evenly;
}


#squares-top-container > div,
#squares-bottom-container > div {
    width: 1px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(31, 31, 31);
}









#home-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    /* background: linear-gradient(to bottom, rgba(171, 171, 171, 0) 0%, rgba(171, 171, 171, 0) 50%, #0095ff 50%, #0095ff 100%); */
    z-index: -2;
    overflow: hidden;
}

#home-overlay-child1 {
    left: 0px;
    right: 0px;
    height: 370px;
    /* border: solid red 1px; */
    /* transition: all 250ms; */
    bottom: 0px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(171, 171, 171, 0) 0%, #0062ff 100%);
    overflow: hidden;
}

    #home-overlay-child1 > div {
        left: 0px;
        right: 0px;
        height: 500px;
        /* border: solid red 1px; */
        border-radius: 33%;
        bottom: 80px;
        position: absolute;
        background-color: black;
        filter: blur(90px);
    }


#home-overlay-border {
    position: absolute;
    /* border: solid red 1px; */
    height: 3px;
    /* width: 1%; */
    left: 20%;
    right: 20%;
    bottom: 0px;
    /* transition: all 250ms; */
    z-index: 2;
    background: radial-gradient(50% 50% at 50% 50%, #0095ff 0%, rgba(171, 171, 171, 0) 100%);
}
