/* Hero - Start */
#home-hero {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    box-sizing: border-box;

    padding-top: 100px;;
    padding-left: 20px;
    padding-right: 20px;
}


#home-badge {
    position: relative;
    border-radius: 9999px;
    font-size: 12px;
    height: 24px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Make background transparent */
    color: rgba(255, 255, 255, 0.65);
    font-weight: 500;
    box-sizing: border-box;
}

#home-badge::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    padding: 1px; /* Thickness of the border */
    /* Apply the rotating gradient background */
    background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;
    /* Apply the mask to keep the background transparent */
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}




#home-subheader {
    /* color: rgb(186, 186, 186); */
    font-size: 14px;
    padding: 0px 30px;
}

#home-header {
    font-size: clamp(70px, calc(70px + (80 - 70) * (100vw - 730px) / (1070 - 730)), 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 120px;
    
    transition: all 250ms;
}

#home-header-caret {
    border-radius: 9999px;
    width: 4px;
    background-color: #3677F9;
    height: 80px;
    opacity: 1;
}

.blink {
    animation: blink 1s steps(1) infinite;
}


@keyframes blink {
50% {
    opacity: 0;
}
}





#home-svg {
    /* background: grey; */
    width: 1100px;
    height: 530px;
    perspective: 600px;
    box-sizing: border-box;
}

#home-svg > div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* transform: rotateX(5deg) rotateY(0deg); */
}


/* Hero - End */