#features {
    /* height: 100svh; */
    /* border: solid red 1px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

#features #main-wrapper {
    /* border: solid red 1px; */
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
}

#features #main {
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(0px, 100%, 1080px);
    border: solid rgb(31,31,31) 1px;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    padding: 40px 0px;
    margin: 0px auto;
}



#features #options {
    /* border: solid red 1px; */
    display: flex;
    /* justify-content: center; */
    gap: 6px;
    margin-top: 20px;
    position: relative;
    /* width: calc(270px + (730 - 270) * (100vw - 350px) / (1080 - 350)); */
    width: 100%;
    box-sizing: border-box;
    max-width: 730px;;
    padding: 0px 10px;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

#features #options::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#features #options div {
    /* border: solid red 1px; */
    box-sizing: border-box;
    border-radius: 9999px;
    font-size: 14px;
    /* height: 40px; */
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.519);
}

#features #options div:hover,
#features #options div:focus,
#features #options div:focus-visible,
#features #options div:focus-within {
    color: rgb(255, 255, 255);
}

#features #options div[data-option] {
    position: relative;
    z-index: 1;

    transition: all 250ms;
}


#features #options div[data-selected] {
    background-color: white;
    color: black;
}

#features #backdrop {
    background-color: rgb(31,31,31);
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    z-index: 0;
    pointer-events: none;
    opacity: 0;

    transition: all 250ms;
}


#buttons {
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons div:nth-child(2) {
    transform: scaleX(-1);
}

div.chevron {

    border: solid transparent 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    cursor: pointer;    

    transition: all 250ms;
}

div.chevron:disabled {
    opacity: 0.25 ;
    cursor: unset;
}

div.chevron svg {
    transform: translateX(-1px);
}


div.chevron:not(:disabled):hover {
    border: solid 1px rgb(56, 56, 56);
    /* background-color: rgb(31,31,31); */
}

div.chevron:not(:disabled):active {
   opacity: 0.75;
}





#features-container {
    /* border: solid red 1px; */
    /* margin-top: 40px; */
    width: 100%;
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    gap: 20px;
    padding: 30px 0px;
    /* height: 470px; */
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    overflow-y: hidden;
    /* overflow: hidden; */
}


#features-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

    .features-card {
        scroll-snap-align: center;
        /* border: solid red 1px; */
        box-sizing: border-box;
        min-width: 350px;
        height: 470px;
        border-radius: 10px;
        min-width: calc(310px + (350 - 310) * (100vw - 350px) / (1080 - 350));
        max-width: 350px;
        padding: 16px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 
            min-content 
            auto 
            30px 
            calc(90px + (100 - 90) * (100vw - 350px) / (1080 - 350));
        ;
        grid-template-areas:
            "header"
            "."
            "coming-soon"
            "description";
        /* clip-path: border-box; */
        /* border: solid rgb(78 78 78) 1px; */
        overflow: hidden;
        border: solid rgb(31,31,31) 1px;
    }

        .features-card-header {
            grid-area: header;
            font-size: 24px;
            font-weight: 600;
        }

        .features-card-coming-soon {
            grid-area: coming-soon;
            color: oklch(0.717 0.1648 250.794);
            background-color: oklch(0.2545 0.0811 255.8);
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 4px 8px;
            height: fit-content;
            border-radius: 6px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -0.3px;
            border: solid 1px oklch(0.68 0.18 251.02);
        }
        
        .features-card-description {
            grid-area: description;
            font-size:  calc(17px + (20 - 17) * (100vw - 350px) / (1080 - 350));
            font-weight: 500;
        }

        .features-card-blur {
            /* border: solid red 1px; */
            position: absolute;
            mask: linear-gradient(to top, black, black, transparent);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            -webkit-mask: linear-gradient(to top, black, black, transparent);
            left: -3px;
            right: -3px;
            /* top: 0px; */
            height: 250px;
            bottom: -9px;
            z-index: -1;
            background: linear-gradient(to top, #0000007d, #00000000);
           
        }

        .features-card-background {
            position: absolute;
            /* border: solid red 1px; */
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: -2;
        }

            .features-card-background-image {
                position: absolute;
                left: -10px;
                right: -10px;
                top: -10px;
                bottom: -10px;
                z-index: -1;
                filter: blur(20px);
                transform: scale(1.1);
            }

   

        /* .features-card-background::after {
            content: '';
            position: absolute;
        
            left: 0;
            right: 0;
            bottom: 0;
            height: 40%;
            
            background: linear-gradient(to top, rgb(0 0 0 / 45%), rgba(0, 0, 0, 0));
            filter: blur(10px) brightness(0.8); 
            z-index: 1;
            pointer-events: none; 
        } */


        #scenes-svg,
        #sources-svg,
        #stream-svg,
        #record-svg,
        #virtual-camera-svg,
        #native-svg {
            position: absolute;
            transform: scale(1.8) translateX(90px) translateY(120px);
            z-index: 1;
            pointer-events: none;
        }