#quick-tutorial {
    /* border: solid red 1px; */
    height: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quick-header-wrapper {
    display: flex;
    width: clamp(0px, 100%, 1080px);
    /* border: solid red 1px; */
    margin-bottom: 34px;
    align-items: center;
}

.chevron-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}



#quick-header {
    grid-area: header;
    /* font-size: clamp(28px ,calc(28px + (48 - 28) * (100vw - 480px) / (1440 - 480)), 48px); */
        font-size: 27px;
    font-weight: 600;
    color: rgb(134, 134, 139);

    box-sizing: border-box;

        /* border: solid red 1px; */
}

#quick-subheader {
    grid-area: header;
    font-size: 26px;
    font-weight: 600;
    color: rgb(134, 134, 139);

    padding: 0px 20px;
    width: clamp(0px, 100%, 1120px);
    box-sizing: border-box;
    margin-bottom: 34px;
    margin-top: 34px;
}


#quick-tutorial-header {
    margin-bottom: 68px;
    font-size: 53px;
    line-height: 59px;
    font-weight: 600;

    box-sizing: border-box;
    /* border: solid red 1px; */
    /* flex-grow: 1; */
}

#quick-tutorial-subheader {
    margin-bottom: 34px;
    font-size: 26px;
    letter-spacing: -0.13485px;
    font-weight: 500;
    width: clamp(0px, 100%, 1120px);
    padding: 0 20px;
    box-sizing: border-box;
    /* border: solid red 1px; */
    /* flex-grow: 1; */
}



#quick-tutorial-container {
    /* border: solid red 1px; */
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 20px;

    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

    #quick-tutorial-card {
        display: grid;
        /* border: solid red 1px; */
        width: 1080px;
        height: 612px;
        border-radius: 4.5px;
        /* background: url('./background-1.webp'); */
        background-size: cover;
        box-sizing: border-box;
        padding: 32px 28px;
        scroll-snap-align: center;
    }

    #quick-tutorial-card > div {
        font-size: 21px;
        font-weight: 600;
        align-self: flex-end
    }



