#subhero {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 150px 0px; */
    padding-top: 50px;
    padding-bottom: 150px;
    perspective: 600px;
    /* overflow: hidden; */

}


svg * {
    pointer-events: none;
}



#subhero-header {
    /* border: solid red 1px; */
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -20px;
}



#home-svg {
    /* border: solid red 1px; */
    /* position: absolute; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 500px; */
    /* transform: translateZ(200px); */
    animation: svg 2s cubic-bezier(0.27, 0.13, 0.17, 1) forwards; 
    animation-delay: 250ms;
    perspective: 600px;

    /* transition: all 100ms; */

    opacity: 0;
    transform: translateZ(400px);
    filter: blur(20px);


}

@keyframes svg {
    from {
        transform: translateZ(400px) rotateX(30deg);
        filter: blur(20px);
        opacity: 0;
    }

    to {
        transform: translateZ(0px) rotateX(0deg);
        filter: blur(0px);
        opacity: 1;
    }
}



#screenshot-base-wrapper {
    /* border: solid red 1px; */
    padding: 40px;
    /* position: absolute; */
    transform: scale(0.9);
    /* bottom: 0px; */
    transform-origin: center;
    /* perspective: 600px; */
}


#scenes-base-wrapper {
    /* border: solid red 1px; */
    /* padding: 40px; */
    position: absolute;
    transform: translateX(-420px) translateY(-200px);
    transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    /* animation: scenes 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* backdrop-filter: blur(20px); */
    /* animation-delay: 1.5s;  */
    /* perspective: 10px; */
    perspective: 100px;
}

    #scenes-base-wrapper path, #scenes-base-wrapper g {
        pointer-events: none;
    }

    /* #scenes-base {
        transform: rotateY(-1.5deg) rotateX(1.5deg);
        transition: all 10ms;
    } */


    #scenes-base-wrapper:hover {
        transform: translateX(-420px) translateY(-200px);
        scale: 1.05;
    }


#sources-base-wrapper {
    /* border: solid red 1px; */
    padding: 40px;
    position: absolute;
    transform: translateX(-420px) translateY(200px) ;
    transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    /* animation: scenes 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* backdrop-filter: blur(20px); */
    
}

    #sources-base-wrapper:hover {
        transform: translateX(-420px) translateY(200px);
        scale: 1.05;
    }


#controls-base-wrapper {
    /* border: solid red 1px; */
    padding: 40px;
    position: absolute;
    transform: translateX(420px) translateY(-290px);
    transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    /* animation: scenes 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* backdrop-filter: blur(20px); */
}

    #controls-base-wrapper:hover {
        transform: translateX(420px) translateY(-290px);
        scale: 1.05;
    }



#source-config-base-wrapper {
    /* border: solid red 1px; */
    padding: 40px;
    position: absolute;
    transform: translateX(420px) translateY(100px);
    transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    /* animation: scenes 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* backdrop-filter: blur(20px); */
}

    #source-config-base-wrapper:hover {
        transform: translateX(420px) translateY(100px);
        scale: 1.05;
    }