#navigation {
    max-width: 1120px;
    z-index: 11;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: 60px;
    padding: 0px 20px;
    margin: 0px auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
        max-content 1fr auto auto auto auto 1fr auto
    ;
    grid-template-areas:
        "logo . about docs support github . download"
    ;
    align-items: center;
    font-size: 14px;
}

#navigation > * {
    height: fit-content !important;
}

#navigation > a {
    padding: 8px 12px;
    border-radius: 9999px;
}


#navigation #logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

#about {
    grid-area: about;
}

#docs {
    grid-area: docs;
}

#support {
    grid-area: support;
}

#github {
    grid-area: github;
}

#download {
    grid-area: download;
}

#hamburger-menu {
    all: unset;
    grid-area: download;
    width: 24px !important;
    height: 24px !important;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;

}

    #hamburger-menu div {
        width: 15px;
        height: 2px;
        background-color: white;
        border-radius: 9999px;

        transition: all 400ms cubic-bezier(.6,0,.4,1);
        transform-origin: left;
    }

    #hamburger-menu[opened] > div:nth-child(1) {
        transform-origin: top left;
        transform: rotate(45deg);
    }
    
    #hamburger-menu[opened] > div:nth-child(2) {
        opacity: 0;
    }

    #hamburger-menu[opened] > div:nth-child(3) {
        transform-origin: bottom left;
        transform: rotate(-45deg);
    }


@media (max-width: 750px) {
    #navigation a {
        display: none;
    }

    #hamburger-menu {
        display: flex;
    }
}