.App {
	text-align: center;
}

/* * {
	border: solid red 1px;
} */

html {
	/* overflow: hidden; */
	box-sizing: border-box;
	height: 100vh;
	overscroll-behavior: none; /* Prevents the bounce effect */
    touch-action: pan-x pan-y;
	margin: 0;
	padding: 0;
}


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	overscroll-behavior: none; /* Prevents the bounce effect */
    touch-action: pan-x pan-y;
	-webkit-font-smoothing: antialiased;
}



#root {
	/* min-height: 100%; */
	box-sizing: border-box;
	position: relative;
	overflow-y: scroll;
	height: 100%;
	box-sizing: border-box;
	/* overflow: hidden; */
}

#app {
	height: 100%;
	box-sizing: border-box;
}
