.App {
	text-align: center;
}

/* * {
	border: solid red 1px;
} */

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

#app {
	min-height: 100%;
	box-sizing: border-box;
}
