#navigation {
    width: 100%;
    z-index: 11;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    line-height: 1;
    flex-direction: column;
    /* overflow: hidden; */
    /* color: black; */
}

#navigation-wrapper {
    height: 64px;
    width: clamp(0px, 100%, 1448px);
    padding: 0px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
}

.navigation-link {
    padding: 8px 12px;
    border-radius: 9999px;
    cursor: pointer;
    user-select: none;

    transition: all 250ms;
}

.navigation-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #171717;
}

.navigation-link:active {
    opacity: 0.75;
}

#hamburger-menu {
    all: unset;
    border-radius: 9999px;
    width: 32px !important;
    height: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: none;
    flex-direction: column;
    margin-left: auto;
    position: relative;
}

#navigation[data-mobile-menu-open="1"] #hamburger-menu {
    
}


.hamburger-menu-line {
    width: 14.5px !important;
    height: 1.5px !important;
    background-color: rgb(102, 102, 102);
    border-radius: 9999px;
    position: absolute;

    transform-origin: center;

    transition: all 350ms ease;
}

/* Closed */
#navigation[data-mobile-menu-open="0"] #hamburger-menu-line-top {
    transform:  rotate(0deg) translateY(-3px);
}


#navigation[data-mobile-menu-open="0"] #hamburger-menu-line-bottom {
    transform:  rotate(0deg) translateY(3px);
}

/* Open */
#navigation[data-mobile-menu-open="1"] #hamburger-menu-line-top {
    transform:  rotate(-45deg) translateY(0px);
}

#navigation[data-mobile-menu-open="1"] #hamburger-menu-line-bottom {
    transform: rotate(45deg) translateY(0px);
}

.navigation-mobile-link {
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;

    transition: all 250ms;
}

.navigation-mobile-link:active {
    background-color: rgb(235, 235, 235);
}






#navigation-mobile {
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: none;
    box-sizing: border-box;
    overflow: hidden;

    transition: all 350ms ease;
}

#navigation[data-mobile-menu-open="0"] #navigation-mobile {
    height: 0vh;
    padding: 0px 12px;
    pointer-events: none;
    /* display: none; */
}

#navigation[data-mobile-menu-open="1"] #navigation-mobile {
    height: 100vh;
    padding: 12px 12px;
    /* display: initial; */
}


@media (max-width: 1000px) {
    .navigation-link {
        display: none;
    }

    #hamburger-menu {
        display: flex;
    }
}


#logo {
    margin-right: 8px;
    cursor: pointer;
}

#logo-name {
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 500;
    color: #171717;
    margin-left: 10px;
    margin-right: 30px;
}

#slash-icon {
    stroke: #eaeaea;
}

#navigation-footer-line {
    border-top: solid 0.5px rgba(0, 0, 0, .1);
    border-radius: 9999px;
    height: 0px;
    margin-top: 20px;
}