 #privacy-page {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid red 1px; */
    padding-top: 40px;
    padding-left: clamp(20px, calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
    padding-right: clamp(20px, calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
    padding-bottom: clamp(90px, calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
    padding-top:  clamp(90px, calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)) + 60px, 120px);
    /* height: 100svh; */
    flex-direction: column;
    /* min-height: 100svh; */
    /* box-sizing: ; */
    /* box-sizing: border-box; */
}

#privacy-main-container {
    border: solid 1px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: clamp(0px, 100%, 750px);
}

#privacy-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    box-sizing: border-box;
    border-top: solid 1px rgba(0, 0, 0, .1);
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "SF Pro Display"; */
    font-weight: 600;
    font-size: 32px;
    
}

#privacy-subheader {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "SF Pro Display"; */
    font-weight: 400;
    font-size: 14px;
    color: rgb(102, 102, 102);
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

#privacy-text {
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    /* font-family: "SF Pro Display"; */
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}






#privacy-main {
    /* border: solid red 1px; */
    width: clamp(0px, 100%, 1080px);

    display: grid;
    grid-template-columns: 
        clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px)
        1fr
        clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px)
    ;
    grid-template-rows: 
        clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px)
        clamp(0px, calc(88px + (150 - 88) * (100vw - 350px) / (1080 - 350)), 150px)
        clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px)
    ;
    grid-template-areas:
        "topLeft top topRight"
        "middleLeft middle middleRight"
        "bottomLeft bottom bottomRight";
    position: relative;
    box-sizing: border-box;
    border: solid rgb(31, 31, 31) 1px;
}

@media (max-width: 500px) {

    #privacy-main {
        grid-template-areas:
            "top"
            "middle"
            "bottom"
        ;
        grid-template-columns: 
            1fr
        ;
    }

    #privacy-left-line,
    #privacy-right-line {
        display: none;
    }
    
}

#privacy-top-line,
#privacy-bottom-line  {
    height: 1px;
    position: absolute;
    background-color: rgb(31, 31, 31);
    left: 0px;
    right: 0px;
}

#privacy-top-line { top: clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px); }
#privacy-bottom-line { bottom: clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px); }

#privacy-left-line,
#privacy-right-line  {
    width: 1px;
    position: absolute;
    background-color: rgb(31, 31, 31);
    top: 0px;
    bottom: 0px;
}

#privacy-left-line { left: clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px); }
#privacy-right-line { right: clamp(0px, calc(38px + (89 - 38) * (100vw - 350px) / (1080 - 350)), 89px); }


#privacy-middle {
    grid-area: middle;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: clamp(0px, calc(32px + (56 - 32) * (100vw - 350px) / (1080 - 350)), 56px);
}

#privacy-bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #a1a1a1;
    font-size: 14px;
    text-align: center;
}






#privacy-description {
    border-left: solid rgb(31, 31, 31) 1px;
    border-right: solid rgb(31, 31, 31) 1px;
    border-bottom: solid rgb(31, 31, 31) 1px;
    padding: calc(24px + (48 - 24) * (100vw - 350px) / (1080 - 350));
    font-size: 16px;
    color: #a1a1a1;
    line-height: 2;
    text-align: center;
    width: clamp(0px, 100%, 1080px);
    box-sizing: border-box;
}




@keyframes onStartBlur {
    from {
        filter: blur(10px);
        /* opacity: 0; */
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}