#footer {
    /* border: solid red 1px; */
    /* height: 100svh; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 20px;
}

#footer #main {
    /* border: solid red 1px; */
    display: flex;
    width: clamp(0px, 100%, 1080px);
    /* padding: 100px 0px; */
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "support documentation project about logo";
    position: relative;
}

@media (max-width: 800px) {
    #footer {
        padding: 40px 20px;
    }

    #footer #main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 
            min-content 
            min-content 
            min-content
        ;
        grid-template-areas: 
            "logo logo"
            "support project"
            "documentation about"
        ;
        row-gap: 50px;
    }

    #footer-logo {
        justify-self: start !important;
    }

    #footer #project,
    #footer #about {
        justify-self: end;
        text-align: right;
    }
}

#footer #support {
    grid-area: support;
}

#footer #documentation {
    grid-area: documentation;
}

#footer #project {
    grid-area: project;
}

#footer #about {
    grid-area: about;
}

#footer-logo {
    grid-area: logo;
    justify-self: end;
}


#footer-personal {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    color: #888;
}


.footer-section {
    flex-grow: 1;
    /* border: solid red 1px; */
}

.footer-header {
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0px;
}

.footer-link {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 20px;
    color: #888;
}

