@import url('../Fonts/Fonts.css');


#footer-line {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    width: clamp(0px, 100%, 1680px);
    margin-top: 40px;
}



#footer {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 
        /* 90px at 1050 width to 20px at 450 width */
        /* 120px at 1440 width to 20px at 480 width */
        /* clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px)  */
        1fr
        10fr
        /* clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px) */
        1fr
    ;
    grid-template-rows: 
        auto
    ;
    grid-template-areas: 
        ". main ."
    ;
}



#footer-container {
    grid-area: main;
    width: clamp(0px, 100%, 1120px);
    padding: 0px 20px;
    box-sizing: border-box;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    justify-content: center;

    /* margin-left: clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px);
    margin-right: clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px); */
    /* padding: 0px 24px; */
}

.footer-section {
    width: 176px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content
}

.footer-header {
    color: rgb(255, 255, 255);
    /* margin-top: 16px; */
    /* margin-bottom: 12px; */
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.footer-link {
    color: rgb(102, 102, 102);
    height: fit-content;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
}