#home-download {
    /* border: solid red 1px; */
    height: 450px;
    display: flex;
  
    width: clamp(0px, 100%, 1120px);
    background-color: rgb(23, 23, 23);
    
    border-radius: 7px;
    margin: 120px auto;
    position: relative;
    /* margin-bottom: 80px; */

}

#download-text-container {
    /* border: solid red 1px; */
    height: 100%;
    box-sizing: border-box;
    flex-grow: 0.5;
}

#download-logo-container {
    border: solid red 1px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 0.5;
    justify-self: flex-end;
}


#home-badge {
    position: relative;
    border-radius: 9999px;
    font-size: 12px;
    height: 24px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Make background transparent */
    color: rgba(255, 255, 255, 0.65);
    font-weight: 500;
    box-sizing: border-box;
}



/* #home-download::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 7px;
    padding: 1px; 

    background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;

    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    opacity: 0.3;
    
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
} */